---
import Layout from "@/layouts/BaseLayout.astro";
---

<Layout title="Welcome to Walchensee Haus">
  <h1>Mitgliederbereich</h1>
  <p>Dieser Inhalt ist passwortgeschützt. Um ihn anschauen zu können, bitte das Passwort eingeben:</p>
</Layout>
