---
import Layout from "@/layouts/BaseLayout.astro";
---

<Layout title="Mitgliederbereich">
  <!-- <p>Dieser Inhalt ist passwortgeschützt. Um ihn anschauen zu können, bitte das Passwort eingeben:</p> -->

  <p class="rounded-md bg-slate-100 p-20 text-center">
    <i class="bi bi-person-lock text-5xl"></i>
    <br />
    <span class="mt-4 block">Der Mitgliederbereich befindet sich noch im Aufbau.</span>
  </p>
</Layout>
