---
interface Props {
  active: boolean;
  title: string;
  body: string;
}

import Buchung from "@/content/hinweis/buchung.json

const { active, title, body } = Buchung;
---

{ active && (
<div>
  <h1>{ title }</h1>
  <p>{ body }</p>
</div>
)}

<style>
div {
  border: 1px solid blue:
}
</style>
