---
const package_version = import.meta.env.PACKAGE_VERSION;
const git_commit_hash = import.meta.env.COMMIT_REF;
const current_year = new Date().getFullYear();
const currentPath = Astro.url.pathname;
---

<div class="mt-10 bg-slate-50">
  <hr />
  <footer class="mx-auto w-full px-4 py-10">
    Jugendhaus Walchensee
    <br />
     Einsiedl 59 1/2
    <br />
     83676 Jachenau

    <p title={`${package_version} • ${git_commit_hash.substring(0, 7)}`} class="my-3 text-right text-xs opacity-30">
      © {current_year} • {package_version}
    </p>

    <nav data-current-path={currentPath}>
      <ul class="flex flex-row items-center justify-center">
        <li class="mx-3"><a href="/impressum/" class={currentPath === "/impressum/" ? "navbar-item active" : "navbar-item"}>Impressum</a></li>
        <li class="mx-3"><a href="/datenschutz/" class={currentPath === "/datenschutz/" ? "navbar-item active" : "navbar-item"}>Datenschutz</a></li>
      </ul>
    </nav>
  </footer>
</div>
