---
import * as data from "@/content/booking/hint.md";
import { Content as HintBody } from "@/content/booking/hint.md";
---

{
  !!data.frontmatter.active && (
    <div class="not-prose wrapper grid">
      <div class="">
        <i class="bi bi-megaphone text-4xl" />
      </div>
      <div class="">
        <h1>{data.frontmatter.title}</h1>
        <p>
          <HintBody />
        </p>
      </div>
    </div>
  )
}

<style>
  div.wrapper {
    @apply rounded border-2 border-amber-300 bg-amber-100 p-4 text-amber-900;
  }
  h1 {
    @apply mb-2 text-base font-semibold text-amber-900;
  }
  p {
    @apply m-0 text-sm;
  }
</style>
